.main_column_examples {
    width: 100%;
    background-color: #4b4b4c;
    padding: 0 20px;
    color: $_brass_yellow;
}
.coding_examples_title_container {
    width: 100%;
    padding: 15px;
    border: 6px dashed $_brass_yellow;
}
.coding_examples_title {
    width: 300px;
    margin: 0 auto;
    color: $_brass_yellow; 
}

.code_examples_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    margin: 0;
    .code_example {
        margin: 0;
    }
    & + .code_examples_container {
        border-top: 6px dashed $_brass_yellow;
    }
}
.code_example_title {
    text-align: center;
}
.code_example {
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.des_section + .des_section {
    border-top: 3px dashed $_brass_yellow;
}
.example_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    & p {
        font-weight: bold;
        max-width: 720px;
        padding: 0;
    }
    & img {
        margin-bottom: 15px;
    }
}



@media screen and (min-width:1260px) {
    .example_description {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: none;
        & p {
            font-weight: bold;
            max-width: 500px;
        }
    }
}


