
.form_title_container {
    margin: 0 auto 5px;
    max-width: 650px;
    border-bottom: 6px dashed #000;
    .form_title {
        margin: 0;
    }
}
#contact_form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    max-width: 650px;
    padding: 25px;
    border: 6px dashed #000;
    margin: 0 auto 30px;
    .label_input {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        & label {
            font-weight: bold;
        }
        & input {
            padding: 5px 10px;
            border: none;
            border-bottom: 3px dashed #000;
            background-color: transparent;
            &:focus-visible {
                border-bottom: 3px solid #000;
                outline: none;
            } 
        }
        & textarea {
            border: none;
            border-bottom: 3px dashed #000;
            border-top: 3px dashed #000;
            &:focus {
                border-bottom: 3px solid #000;
                border-top: 3px solid #000;
                outline: none;    
            }
        }
    }
}
#contact_form .form_button {
    font-weight: bold;
    padding: 10px 15px;
    background-color: #e3d343;
    border: none;
    border-radius: 0;
    width: 192.038px;
    margin: 0 auto;
    cursor: pointer;
    &:hover {
        background-color: #FFD700;    
    }
}

#error {
    font-weight: bold; 
    text-align: center;     
}
.error_box {
    color: red;
    padding: 15px;
    border: 3px dashed red;
    margin-bottom: 30px;
}
.success_box {
    color: green;
    padding: 15px;
    border: 3px dashed green;
    margin-bottom: 30px;    
}
.error {
    color: #ff0033;
    font-weight: bold;
    max-width: fit-content;
    margin-bottom: 0;
    padding: 5px;
    border: 3px dashed #ff0033;
}
.success {
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    color: #4BB543;
    font-weight: bold;
    padding: 5px;
    border: 3px dashed #4BB543;
}
.no_message{
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width:992px) and (max-width:1200px) {
    #contact_form {
        max-width: none;
        width: 747px;
    }
    .form_first_rows {
        display: flex;
        flex-direction: row;
    }
    #contact_form .right_input {
        margin-right: 15px;
    }
}
@media screen and (min-width:1200px) {
    #contact_form {
        max-width: none;
        width: 972px;
        border-left: none;
        border-right: none;
    }
    .form_first_rows {
        display: flex;
        flex-direction: row;
    }
    #contact_form .right_input {
        margin-right: 15px;
    }
}
@media screen and (min-width:1495px) {
    #contact_form {
        width: 1300px;
    }
}