header {
    position: relative;
}
.enigma {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
.name_career_menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    color: $_brass_yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.name_career {
    padding-right: 10px;
    padding-left: 10px;
    border-left: 5px dashed $_brass_yellow;
}
.name {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0;
}
.name span {
    opacity: 0;
}
.name .fade {
    opacity: 1;
}

.career {
    font-size: 1.2rem;
    font-weight: bold;
}
.down_button {
    padding: 5px 25px 2px;
    background-color: $_brass_yellow;
    border: none;
    border-radius: 4px;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    &:hover {
        background-color:  #FFD700;
    }
    & i {
        font-size: 1.2rem;
    }
}    
.brass_bg {
    background-color: $_brass_yellow;
}
