
//constants
@import "variables";

//header 
@import "header";

//form 
@import "form";

//projects 
@import "projects";

//coding examples
@import "code_examples";

//scs scheme
@import "scs_scheme";

//about me
@import "about_me";

//side column 
@import "side_column";

* {
    box-sizing: border-box;
}
*, :before, :after {
    box-sizing: border-box;
}
body {
    font-family: 'Courier prime', Courier, monospace;
    display: flex;
    flex-direction: row
    
}
a {
    text-decoration: none;
    color: #000;
}
.menu_button {
    padding: 15px;
    background-color: $_brass_yellow;
    border-radius: 4px;
    border: none;
    margin-right: 15px;
    display: none;
    cursor: pointer;
    &:hover {
        background-color:  #FFD700;    
    }
}
.menu_title {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media screen and (min-width:0) and (max-width:768px) {
    .menu_button {
        display: block;
    }
}
   



